.wd-gray-text {
  color: gray;
}

.wd-profile-banner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.wd-profile-image {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  z-index: 2;
  margin-top: -70px;
}