.card-title.text-white.wd-overlay-text {
  margin-top: 55%;
  font-size: 2.75em;
}

.wd-post-topic {
  color: gray;
}

.wd-post-summary-img {
  height: 60px;
  width: 60px;
  text-align: right;
  border-radius: 10px;
}

.wd-follow-img {
  height: 48px;
  width: 48px;
}

a.wd-navs {
  text-decoration: none;
  color: black;
}

.list-group-item.border-0.border-bottom.wd-test {
  border-color: #565656 !important;
}

.wd-avatar-icon {
  width: 40px;
  height: 40px;
}

.wd-post-buttons {
  border: none;
  background: transparent;
  color: #696868;
}

.wd-post-buttons-heart {
  border: none;
  background: transparent;
  color: red;
}

.wd-post-details {
  color: #696868;
}

.wd-post-content {
  color: #696868;
}

.wd-post-card {
  border: 2px solid #4b4b4b !important;
}

.wd-post-img {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

#wd-home {
  margin-top: 30px;
}