.fa-stack {
  font-size: 0.5em;
}

.wd-search-twitter {
  border: 1px solid lightgray;
}

.card-title.text-white.wd-overlay-text {
  margin-top: 60%;
}

.wd-post-topic {
  color: gray;
}

.wd-post-img {
  height: 100px;
  width: 100px;
}

.wd-follow-img {
  height: 48px;
  width: 48px;
}

a.wd-navs {
  text-decoration: none;
  color: black;
}