.list-group-item.wd-override-list-item {
  border: none;
  font-family: "Helvetica Neue", sans-serif;
}

.list-group-item.wd-override-list-item.active.wd-override-list-active {
  background: transparent;
  color: black;
  font-weight: bold;
}

.fa-twitter {
  color: #00acee;
  font-size: 1.5em;
}

.btn-primary.wd-override-tweet-button {
  background-color: #00acee;
  border: none;
}

.input-group.wd-override-search-field {
  background-color: #f5f5f5;
}

.nav-tabs.wd-override-nav-tabs {
  border: none;
  font-family: "Helvetica Neue", sans-serif;
  justify-content: space-between;
}

a.nav-link {
  color: #6e767D;
  font-weight: bold;
}

a.nav-link:hover {
  border: none;
}

.nav-link.active.wd-override-nav-active {
  border: none;
}

.nav-item.wd-override-nav-item {
  border-bottom: 5px solid #00acee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-group.wd-override-list-group {
  border: 2px solid #f5f5f5;
}

.list-group-item.wd-override-follow-list-item {
  border: none;
  background-color: rgb(248, 248, 248);
  font-family: "Helvetica Neue", sans-serif;
  padding-bottom: 10px;
}

.btn-primary.wd-override-follow-btn {
  background-color: black;
  border: none;
}

.fa-check-circle {
  color: #00acee;
}

.follow-header {
  font-size: 1.5em;
  font-weight: bolder;
}

.wd-show-more {
  color: #00acee;
}

.wd-post-options {
  text-align: right;
}

a.wd-navs {
  text-decoration: none;
  color: black;
}

.fa-stack {
  font-size: 0.5em;
}

.wd-center-col {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.card.wd-main-col-card {
  border: none;
}

.card-img-top.wd-main-col-card-img {
  border-radius: 0;
}

.card-title.text-white.wd-overlay-text {
  margin-top: 60%;
}

.wd-post-topic {
  color: gray;
}

.wd-follow-img {
  height: 48px;
  width: 48px;
}